<form action="/songs" method="post">
  <p><label for="Name">Song Name: </label><input type="text" name="name" value="Name" ></p>
  <%binding.pry%>
  <p><label for="Artist Name">Artist Name: </label><input type="text" name="artist_name"></p>

   
 <% Genre.all.each do |g|%>
   <input type="checkbox" name="genres[]" value="<%=g.id%>" id="<%=g.name%>">
<%end%>

  <input type="submit">
</form>
