<form action="/songs" method="post">
  <p>Song Name: <input type="text" name="song[name]" value="Name"></p>
  <p>Artist Name: <input type="text" name="song[artist name]"></p>

   
 <% Genre.all.each do |g|%>
   <input type="checkbox" name="genres[]" value="<%=g.id%>" id="<%=g.name%>">
<%end%>

  <input type="submit">
</form>
