<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<p><%= @songs.name%></p>
<input type=checkbox 
<p><a href="/artists/<%= @songs.artist.slug %>"><%= @songs.artist.name %> </a></p>
<p></p>


